
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root{
     --primary: #ede8e6;
     --secondary: #363766;
     --tertiary: #d04e59;
}

body{
     background: var(--primary);
     overflow-x: hidden;
     font-family: 'Rubik', sans-serif;
}

.site-nav, section{
     padding: 5%;
}

.button{
     background: var(--secondary);
     border: none;
     border-radius: 2px;
     color: var(--primary);
     padding: 4%;
     text-decoration: none;
     text-align: center;
     text-transform: capitalize;
     box-shadow: 1px 2px 3px rgba(0 0 0 0.6);
     display: inline-block;
}

.button:hover{
     background: var(--tertiary);
     color: var(--primary)
}

input{
     background: #dad5d3;
     padding: 4%;
     border-radius: 2px;
     border: none;
     color: #36376680;
}

svg{
     fill: var(--secondary);
}

svg:hover{
     fill: var(--tertiary);
}

a{
     text-decoration: none;
}

/******************************************
/* FONTS
/*******************************************/

h2,h3,h4,p{
     line-height: 1.3em;
}

h1,h2,h3,h4{
     font-weight: 500;
     color: var(--secondary);
}

p{
     color: #363766cc;
}

h1,h4{
     font-size: 1.5em;
}

h2,h3{
     font-size: 2.2em;
     padding: 5% 0;
}

.nav-link a{
     font-size: 0.8em;
     color: var(--secondary);
}

.welcome-text input, .welcome-text .button{
     font-size: 0.9em;
}

.descr-text, .feat-link{
     font-size: 1em;
     padding: 5% 0;
}

.feat-link{
     font-weight: 500;
     color: var(--secondary);
}

.tagline{
     font-size: 0.3em;
     color: #36376680;
}


/******************************************
/* MOBILE STYLES
/*******************************************/


/*************** HEADER ***************/

.site-nav{
     border-bottom: 2px solid #dad5d3;
}

.menu{
     float: left;
     width: 5%;
     vertical-align: middle;
}

.dropdown{
     position: relative;
     display: inline-block;
}

.dropdown-content{
     display: none;
     position: absolute;
     background: var(--primary);
     min-width: 100px;
     width: 600%;
     box-shadow:  0 10px 10px rgba(0, 0, 0, 0.2);
     z-index: 1;
     padding: 50%;
}

.dropdown:active .dropdown-content{
     display: block;
}

.nav-link{
     border-bottom: 1px solid #dad5d3;
     padding: 10%;
}

.nav-link .button{
     color: var(--primary);
     width: 100%;
}

.logo{
     text-align: center;
}


/*************** WELCOME ***************/

.welcome{
     width: 100%;
}

.tagline{
     display: block;
     text-transform: uppercase;
     padding-bottom: 3%;
}

form input{
     width: 100%;
}

form .button{
     width: 100%;
     font-weight: 500;
     margin-top: 5%;
}

.welcome-img{
     width: 150%;
     position: relative;
}

.welcome-img img{
     width: 100%;
     position: relative;
     top: -20px;
     left: 5%;
     z-index: -1;
}


/*************** FEATURES ***************/

.features svg{
     width: 8%;
     padding: 2% 0;
}

.features div{
     padding: 5% 0;
     border-bottom: 2px solid #dad5d3;
}

.features div:last-of-type{
     border: none;
}

.features .descr-text{
     /* height: 100%; */
}


/*************** INFO ***************/

.info{
     background: #fffaf8;
}


/******************************************
/* LARGE TABLETS & LAPTOPS STYLES
/*******************************************/

@media screen and (min-width: 960px) {

     /*************** BASE ***************/

     body{
          font-size: 13px;
     }

     .welcome, .features, .info{
          padding: 1% 10%;
     }
     
     /*************** HEADER ***************/
     
     .site-nav{
          border-bottom: none;
          width: 100%;
          padding: 2%;
     }
     
     .logo{
          float: left;
     }

     .menu{
          width: 65%;
          float: right;
          position: relative;
     }
     
     .menu-icon{
          display: none;
     }

     .nav-links{
          display: block;
          background: none;
          box-shadow: none;
          padding: 0;
          width: 100%;
     }

     .nav-link{
          float: left;
          border-bottom: none;
          padding: 1% 3%;
          height: 60%;
          vertical-align: middle;
     }

     .nav-button{
          float: right;
          width: 20%;
          padding-top: 0;
     }

     .nav-button a{
          padding: 8%;
     }


     /*************** WELCOME ***************/

     .welcome{
          padding: 1% 10%;
          height: 40%;
     }

     .welcome-text, .welcome-img{
          /* height: 40%; */
     }
     
     .welcome-text{
          float: left;
          width: 30%;
          vertical-align: middle;
          padding-top: 10%;
     }

     .welcome-img{
          float: right;
          width: 60%;
     }

     .welcome-img img{
          width: 160%;
          max-height: ;
          position: static;
     }

     form input{
          width: 70%;
          float: left;
     }
     
     form .button{
          width: 30%;
          float: right;
          font-weight: 500;
          margin-top: 0;
     }


     /*************** FEATURES ***************/


     .grid-four{
          float: left;
          width: 25%;
     }

     .features div{
          border: none;
          padding: 3%;
     }

     .features div:first-of-type{
          padding-left: 0;
     }

     .features div:last-of-type{
          padding-right: 0;
     }

     .features svg{
          width: 15%;
     }

     .feature-four svg{
          width: 9%;
     }

     /*************** FEATURES ***************/

     .info h2{
          width: 50%;
     }


}
